<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>Contact</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Contact</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  page-title -->


<section class="container">

    <div class="banner-top">
        <div class="text-center">
            <h1>.COM 699 BDT .NET 799 BDT Only</h1>
            <p>Register/Transfer/Renew The offer will run throughout 2021</p>
            <button>Become a Reseller</button>
        </div>
    </div>

</section>


<section class="mt-4 mb-4">
    <div class="text-center main-section p-5">
        <h2>Make Money by Reselling 500+ Domains with High Profit Margins</h2>
        <p>Empower your business with a Domain Reseller Account</p>
        <button>Signup Now</button>
    </div>


    <div class="container">
        <h1 class="text-center">
            Domain Provider In BD
        </h1>
        <h2 class="text-center">
            Empower your business with a Domain Reseller Account
        </h2>
        <hr>
        <h5 class="text-center">All the features you need to grow your Domain Reseller business, and earn great profits
        </h5>
        <h3 class="text-center m-3">
            <b>Instant Activation, Complete DNS Control, No Hidden Cost,</b>
        </h3>

        <div class="button-div">
            <button class="btnn ">Reseller Signup</button>
            <button class="btnn"> Reseller Login</button>
        </div>
    </div>
</section>

<section class="container">
    <h2 class="text-center"><b>Domain Reseller Pricing.</b></h2>
    <h2 class="text-center"><b>GTLDS & CCTLDS</b></h2>
    <h5 class="text-center"><b>Empower your business with a Domain Reseller Account</b></h5>
    <h5 class="text-center"><b>All the features you need to grow your Domain Reseller business, and earn great
            profits</b></h5>

    <!-- table -->

    <div class="ta-div">
        <tabset #staticTabs class="tab-div">
            <tab heading="Startup (৳0.00)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">TLD</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Transfer</th>
                            <th scope="col">Renewal</th>
                            <!-- <th scope="col">SLAB 4 (৳300000.00)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                ৳780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.net</td>
                            <td>৳970</td>
                            <td>
                                ৳970</td>
                            <td>৳970</td>
                        </tr>
                        <tr>
                            <td>.org</td>
                            <td>৳1150</td>
                            <td>
                                ৳1150</td>
                            <td>৳1150</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>

                    </tbody>
                </table>
            </tab>
            <tab heading="SLAB 1 (৳40000.00)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">TLD</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Transfer</th>
                            <th scope="col">Renewal</th>
                            <!-- <th scope="col">SLAB 4 (৳300000.00)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.com</td>
                            <td>৳770</td>
                            <td>
                                ৳780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.net</td>
                            <td>৳970</td>
                            <td>
                                ৳970</td>
                            <td>৳970</td>
                        </tr>
                        <tr>
                            <td>.org</td>
                            <td>৳1150</td>
                            <td>
                                ৳1150</td>
                            <td>৳1150</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>

                    </tbody>
                </table>
            </tab>
            <tab heading="SLAB 2 (৳80000.00)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">TLD</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Transfer</th>
                            <th scope="col">Renewal</th>
                            <!-- <th scope="col">SLAB 4 (৳300000.00)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                ৳780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.net</td>
                            <td>৳970</td>
                            <td>
                                ৳970</td>
                            <td>৳970</td>
                        </tr>
                        <tr>
                            <td>.org</td>
                            <td>৳1150</td>
                            <td>
                                ৳1150</td>
                            <td>৳1150</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>

                    </tbody>
                </table>
            </tab>
            <tab heading="SLAB 3 (৳160000.00)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">TLD</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Transfer</th>
                            <th scope="col">Renewal</th>
                            <!-- <th scope="col">SLAB 4 (৳300000.00)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                ৳780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.net</td>
                            <td>৳970</td>
                            <td>
                                ৳970</td>
                            <td>৳970</td>
                        </tr>
                        <tr>
                            <td>.org</td>
                            <td>৳1150</td>
                            <td>
                                ৳1150</td>
                            <td>৳1150</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>

                    </tbody>
                </table>
            </tab>
            <tab heading="SLAB 4 (৳300000.00)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">TLD</th>
                            <th scope="col">Registration</th>
                            <th scope="col">Transfer</th>
                            <th scope="col">Renewal</th>
                            <!-- <th scope="col">SLAB 4 (৳300000.00)</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                ৳780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.net</td>
                            <td>৳970</td>
                            <td>
                                ৳970</td>
                            <td>৳970</td>
                        </tr>
                        <tr>
                            <td>.org</td>
                            <td>৳1150</td>
                            <td>
                                ৳1150</td>
                            <td>৳1150</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>
                        <tr>
                            <td>.com</td>
                            <td>৳780</td>
                            <td>
                                $780</td>
                            <td>৳780</td>
                        </tr>

                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>

    <div class="mt-4 text-center">
        <p>Our Best Domain Reseller and Domain Provider In BD Sales Plans comes with many unlimited domain extensions
            including many more new TLDs like .com .net .org .eu .etc and .host .shop .music .news .india .uk etc. White
            Our White Label Domain Program Panel Offers the best wholesale prices in 2019 for conducting business.
            Prices for our cheap domains start as low as 6.95 / year, no deposit required and registration is free.</p>

        <p>Just buy a VIP reseller websting plan for your company to get your free domain reseller program. We offer the
            lowest priced domain reseller packages with our web hosting plans. Our whmcs domain reseller account
            provides the cheapest wholesale domain prices in the industry. We offer a free WHMC plugin to manage your
            domains and start selling instantly.</p>
    </div>
    <div>
        <div class="card-div">
            <div class="text-center">
                <h4>Customizable Pricing​</h4>
                <p>You are free to select your products, set your selling prices and profit margins.​</p>
            </div>

            <div class="text-center">
                <h4>100% Free, Always​</h4>
                <p>No annual/monthly or activation fees. We believe in 100% usable activation deposits only.​​</p>
            </div>

            <div class="text-center">
                <h4>Customizable Pricing​</h4>
                <p>You are free to select your products, set your selling prices and profit margins.​</p>
            </div>

            <div class="text-center">
                <h4>Pre-Integrated Payments</h4>
                <p>Get access to of Payment Gateways, no hassles of technical integration​</p>
            </div>
            <div class="text-center">
                <h4>300+ Products​​</h4>
                <p>Your Reseller Account comes with 300+ products, from emails, SSL, servers and more.​</p>
            </div>

            <div class="text-center">
                <h4>Bulk Discounts​​</h4>
                <p>Slab based pricing for all TLDs. The more you sell, the more margins you make.​​</p>
            </div>

            <div class="text-center">
                <h4>Bulk Discounts​​</h4>
                <p>Slab based pricing for all TLDs. The more you sell, the more margins you make.​​</p>
            </div>

            <div class="text-center">
                <h4>Bulk Discounts​​</h4>
                <p>Slab based pricing for all TLDs. The more you sell, the more margins you make.​​</p>
            </div>

            <div class="text-center">
                <h4>Bulk Discounts​​</h4>
                <p>Slab based pricing for all TLDs. The more you sell, the more margins you make.​​</p>
            </div>

            <div class="text-center">
                <h4>Bulk Discounts​​</h4>
                <p>Slab based pricing for all TLDs. The more you sell, the more margins you make.​​</p>
            </div>

        </div>
    </div>
</section>


<section class="container">
    <div class="text-center mb-20">
        <h2><b>Selling Options</b></h2>
        <p>Set-up Your Reseller Account & Start Selling in Minutes</p>
    </div>

    <div>
        <span><i class="fas fa-star"></i></span> <span>Custom SuperSite Storefront</span>
        <p class="p-4">Get a fully functional storefront to start your domain reselling business. Ready white-labelled e-commerce solution for you.</p>
    </div>
    <div class="text-end">
         <span>HTTP API Integration Kit</span><span><i class="fas fa-star"></i></span>
        <p class="p-4">Integrate your existing business website with our flexible APIs. This makes it easy for you to plug-and-play to sell Domains & more!</p>
    </div>
    <div>
        <span><i class="fas fa-star"></i></span> <span>
            Control Panel & ExpressCart</span>
        <p class="p-4">Easy Control Panel to buy or manage domains for your customers. Experience even faster checkouts with our ExpressCart option.</p>
    </div>
    <div class="text-end">
         <span>WHMCS & Billing Integrations</span><span><i class="fas fa-star"></i></span>
        <p class="p-4">Connect with the web's most trusted web hosting tools, manage all products through 7+ options of third-party billing platforms.

        </p>
    </div>

    <div>
        <div class="text-center">
            <div >Sell Hundreds of Extensions</div>
            <p>You can sell almost all popular domain extensions with our domains reseller account including .com, .net and .org. Extensions like .host, .shop, .spa, .hosting, .biz, .info, .name, .us, .co.in, .co.uk, .eu, .cc, .tv, .bz, .in and lot more are available for you to register or further sell them to your clients. Our prices are much cheaper than our competition such as godaddy, directi, enom, resellerclub, resell.biz</p>
        </div>  
        
        
        <div class="text-center">
            <h2>Domain Provider In BD -Why become a Domain Reseller?</h2>
            <p>The Domain Reseller program provides businesses with a single platform for selling a variety of products, including <a href="">domains</a>, hosting, servers, email solutions, and more. This is a great way to make good money with very little investment. In fact, you can even start with these product offers and build your business with other web services like web designing, development, IT management, etc.</p>

            <P><strong>Allow us to explain how:</strong></P>

            <p>Domains: If you already have a business, you can add more than 500+ domains to your offers. You have many prime market movers.com. Org. Net, etc. or new GTLD e.g. You can resell things like Travel, .Vigas, .Club, etc. Offer the perfect TLD for each of your customers and help them promote their brand identity.</p>
            <p>Hosting and Servers: You can choose from a wide suite of our offerings, including shared, VPS, dedicated, reseller, cloud and Windows hosting services. In addition to these, you can also provide CMS based hosting solutions like Magento, Joomla and Drupal. In addition to being a marketplace, ResellerClub lets you provide Bluehost and Hostgator servers (dedicated and VPS) to customers looking for a specific hosting brand.</p>
            <p>Email Products: Business and Enterprise Email delivery is now easy. You can select the number of business / enterprise email accounts your customers need and charge them accordingly. Our OX7 powered email services allow easy collaboration and are protected from all kinds of cyber threats. You can also opt for Google’s G Suite product to give your customers more benefits in the form of larger storage space and other tools like Google Docs, Sheets, Calendars, etc.</p>
            <p>Themes, Logos and Plugins: Offer a wide range of well-designed themes and logos to help your customers navigate their business website. Our domain reseller program provides over 500 themes for WordPress, Drupal, Joomla or Magento websites. To further increase their web presence, you can provide your customers with SEO, social media, email marketing and other plugins.</p>
            <p>Add-ons: Protect your customers with security add-ons, such as Sitlock Protection and SSL Certificates, which prevent a variety of security threats. These add-ons ensure protection for all confidential data on your customer’s website. Also, in case your customers experience any data loss, CodeGuard may be able to take a backup of their websites with a backup of the website.</p>
            <p>What’s more, our domain reseller program is 100% white-labeled so that your customers don’t even realize we’re involved. You can also connect your existing domain reseller business through our WHMCS integration.

            </p>
            <p><strong>Some of the benefits of becoming a domain reseller with Mass Data’s are:</strong></p>
            <p>You get automatic access to all new products known in our market</p>
            <p>You can set your own margins and choose how many products you close under the Domain Reseller Program</p>
            <p>Our domain reseller program serves as a one-stop solution for all of your customer’s product needs</p>
            <p>You’ll get a free storefront, multiple sales options as well as payment methods pre-integrated with your domain reseller program.</p>
            <p>Get started by signing up with Mass data’s domain reseller program and see your business grow worldwide.</p>
        </div>
    </div>
    
        
</section>