<!--=================================our activities=================================-->

<section class="our-activities page-section-ptb">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-7 ">
                <div class="section-title">
                    <h6>Let's have a look at</h6>
                    <h2 class="title-effect">Our Activities And Skills</h2>
                    <p>Consectetur adipisicing elit. Lorem ipsum dolor, consectetur adipisicing elit lorem ipsum dolor
                        sit
                        amet.</p>
                </div>
                <div class="skill">
                    <div class="skill-bar medium" data-percent="85" data-delay="0" data-type="%">
                        <div class="skill-title">HTML5</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-bar medium" data-percent="90" data-delay="0" data-type="%">
                        <div class="skill-title">CSS3</div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-bar medium" data-percent="80" data-delay="0" data-type="%">
                        <div class="skill-title">Javascript / jQuery</div>
                    </div>
                </div>
            </div> -->


            <div class="col-lg-7 ">
                <div class="section-title">
                    <h6>Let's have a look at</h6>
                    <h2 class="title-effect">Our Activities And Skills</h2>
                    <p>We are a custom software company in Bangladesh. We started as a start-up software outsourcing
                        company in 2016</p>
                </div>
                <div class="skill">
                    <div class="skill-bar medium progress-animated" data-percent="85" data-delay="0" data-type="%"
                        style="width: 85%;">
                        <div class="skill-title">ERP Solutions</div>
                        <span class="progress-type animated fadeIn">%</span><span
                            class="progress-number animated fadeIn">85</span>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-bar medium progress-animated" data-percent="90" data-delay="0" data-type="%"
                        style="width: 60%;">
                        <div class="skill-title">Mobile Application</div>
                        <span class="progress-type animated fadeIn">%</span><span
                            class="progress-number animated fadeIn">60</span>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-bar medium progress-animated" data-percent="80" data-delay="0" data-type="%"
                        style="width: 80%;">
                        <div class="skill-title">Web Application</div>
                        <span class="progress-type animated fadeIn">%</span><span
                            class="progress-number animated fadeIn">80</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 xs-mt-30">
                <div class="accordion shadow mb-30">
                    <div class="acd-group acd-active">
                        <a href="#" class="acd-heading">We are crafting unique Technology Ideas</a>
                        <div class="acd-des"> <span class="theme-color" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Tooltip on top">Dhillon Technologies</span> is a technology partner of choice for
                            global organizations looking to strategically transform, grow, and lead in today’s
                            challenging business environment. We deliver optimized and result-driven IT solutions for
                            our global and successful client base.</div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">IT Consultancy</a>
                        <div class="acd-des">Dolorem ipsum quia dolor sit amet neque porro quisquam est, qui,
                            consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                            aliquam
                            quaerat voluptatem.</div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">Cloud Solutions</a>
                        <div class="acd-des">We provide the cloud solutions to small or budding enterprises.</div>
                    </div>
                    <div class="acd-group">
                        <a href="#" class="acd-heading">Design Solutions</a>
                        <div class="acd-des">We provide the cloud solutions to small or budding enterprises.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================our activities=================================-->