<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>Contact</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Contact</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  page-title -->


  <section class="container">
    <h2 class="text-center">Hosting Service Level Agreement</h2>
    <p>Mass Data offers a 99.9% Uptime Guarantee. That means your web server is guaranteed operational 99.9% of the time in any calendar month. Mass Data guarantee 99.9% service uptime allows for 45 minutes of unscheduled (HTTP) service outage per month as defined here. For each additional 45 minutes of downtime you will receive 10% credit or refund. Regardless of the number of outages, all refunds are limited to one month’s hosting service fees and do not include excess usage fees or other nonstandard recurring charges. The amounts of the credits are determined by the following table, based on the amount of server uptime for the month in which credits are requested.</p>
    <p>99.9 – 100% 0% credit</p>
    <p>99.7 – 99.8% 10% credit = 3 days</p>
    <p>99.5 – 99.6% 25% credit = 8 days</p>
    <p>99.3 – 99.4% 50% credit = 15 days</p>
    <p>99.0 – 99.2% 75% credit = 23 days</p>
    <p>98.9% and below 100% credit = 1 month</p>

    <p>Mass Data will not be held responsible for Service Outages resulting from non-Mass Data operated equipment including, but not limited to, Internet NAP failures, upstream network outages or congestion and backbone failures. Additionally, Mass Data will not be held responsible for delays in the registration or transfer of a domain due to InterNIC-related issues, unscheduled outages, web site specific outrages and outages resulting from malfunctioning customer scripts or applications that are installed by the customer, or for unusual traffic spikes or “denial of service” attacks on customer web sites.</p>
    <p>Hybrid services, collocation services or renting out rack space, cloud servers, services under bare metal Environment such as dedicated servers and virtual private services does not qualify for any credit under this server uptime guarantee.</p>
    <p>Refunds will be issued upon request by the customer and upon determination that a service outage, as Defined by this guarantee, has occurred. To be eligible for a refund, the refund request must be made to the Billing Department at the end of the month for the current month (last day of the current month) or within the 1st week of the month for the previous month</p>
  </section>
