<section class="page-section-ptb">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="mb-40">Some of our core solutions for you</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-3 mb-50">
                <div class="feature-text square gray-icon">
                    <div class="feature-icon">
                        <span class="ti-layers-alt"></span>
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Software Solution​</h5>
                        <p>Manual work transforming to automation, business need solutions – Solid Team providing the
                            solution</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-60">
                <div class="feature-text square gray-icon">
                    <div class="feature-icon">
                        <span class="ti-mouse"></span>
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">SMS Solution​</h5>
                        <p>Mass Data LTD is also provide bulk sms service ,We Provide OTP SMS to bangladesh number for
                            verification purpose,we are also provide SMPP connection for our client.</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-3 mb-60">
                <div class="feature-text square gray-icon">
                    <div class="feature-icon">
                        <span class="ti-hand-open"></span>
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Domain And Hosting</h5>
                        <p>We provide SSD Hosting with Top security and 99.99% up-time. We are top Domain Hosting
                            provider in Bangladesh.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 mb-60">
                <div class="feature-text square gray-icon">
                    <div class="feature-icon">
                        <span class="ti-hand-open"></span>
                    </div>
                    <div class="feature-info">
                        <h5 class="text-back">Services Provider​</h5>
                        <p>The popularity of Software as a Service (SaaS) continues to grow rapidly as more enterprise
                            customers realize the enormous benefits that SaaS offers in cost savings, agility, and time
                            to market.</p>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>