<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>Contact</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Contact</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  page-title -->
  
<section class='container'>
    <div>
        <h2 class='text-center'>Refund and Return Policy</h2>
    </div>

    <div>
        <h4><b>ORDER ACCEPTANCE AND NEW ACCOUNTS</b></h4>
        <p>We will setup your account after we have received payment. After place order deposit your due to the bank/bKash according to our payment method and be confirm from our support team. It is your responsibility to ensure the email address on our client area is current or up to date at all times before payment. We will send all account information to your authenticate email which index in our system that’s why be careful about registered email. Otherwise company will not be taken any responsibility for not getting account information to email.</p>
    </div>
    <div>
        <h4><b>PAYMENTS</b></h4>
        <p>When you order to our any product and service, you are buying a pre-paid service. All payments will be paid advance using bank, bkash, rocket and 2checkout. Renewal notices will sent some times via email from 30 days before the renewal date. If you are unable to renew the service to last renew date, your hosting and domain will be suspended and we are not responsible for any data loss. For web hosting plans we will setup your account without any paying. Clients are encouraged to pay by bKash as it is the easiest way to handle payment at this time in Bangladesh.</p>
    </div>
    <div>
        <h4><b>REFUNDS</b></h4>
        <p>Our hosting packages carry a 30 day money-back guarantee! If you are dissatisfied for any reason at all then just let us know proper reason for your dissatisfied, we’ll issue a full hosting refund!
            Please note that vps server, dedicated server, and domain costs are not refundable.</p>
    </div>
    <div>
        <h4><b>SERVER ABUSE</b></h4>
        <p>You agree and understand that any attempts to undermine or cause harm to any of our servers is strictly prohibited and that we take no responsibility for the use of our clients’ accounts. If you abuse the resources we provide in any way, we reserve the unqualified right to immediately deactivate your Account without refund.</p>
    </div>
    <div>
        <h4><b>BACKUPS</b></h4>
        <p>Mass Data Ltd  will use reasonable efforts to protect and backup data for clients on a regular basis, however, Mass Data Ltd  does not guarantee the existence, accuracy, or regularity of its backup services and, therefore, you are solely responsible for making back-up files in connection with your use of the Services.</p>
    </div>

    

</section> 