<!--=================================custom content================================= -->

<section class="page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 sm-mb-30">
                <div class="js-video [vimeo, widescreen] big">
                    <iframe src="https://player.vimeo.com/video/463144779?h=660652cf43" frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-20">
                    <h6>What we do?</h6>
                    <h2>We do things differently</h2>
                    <p>We are dedicated to providing you with the best experience possible.</p>
                </div>
                <p><span class="dropcap gray square">W</span>e find technical solutions for our clients. Typically this
                    would mean we are building software products for them, but sometime we would be doing something
                    completely different like researching business data or setting up their firewall.</p>
                <div class="action-box-button mt-30">
                    <a class="button icon mb-10" href="#">
                        <span>Read More</span>
                        <i class="fa fa-hand-o-right"></i>
                    </a>
                    <!-- <a class="button button-border icon" target="_blank" href="#">
                        <span>Contact Us</span>
                        <i class="fa fa-download"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================custom content================================= -->