<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>Contact</h1>
                    <p>We know the secret of your success</p>
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Contact</span> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  page-title -->

<section class="container">
    <div class="text-center">
        <h1>Powerful​ ​Reseller​ ​Hosting​ (USA)</h1>

        <h2>Unlimited Feature​ ​Packed​ ​Reseller​ ​with​ ​cPanel​ ​WHM​ ​&​ ​​​WHMCS.</h2>
        <p>With over Many Years in business Mass Data. is one of the oldest, well established Reseller Web Hosting
            Provider in the market, USA reseller hosting in BD . We offer services from a network of servers in 25 Data
            Centers Worldwide. Our feature rich reseller web hosting plans offer all the tools needed with true 24/7
            Live customer support to you and to your customers.</p>

        <h4><u>Get 50% Off For 1st Month , Take A Experience From US</u></h4>
        
        <h4> <u>Get 10% Off For Yearly, Take A Experience From US</u></h4>
        <h4> <u>Get 10% Off For Yearly, Take A Experience From US</u></h4>

    </div>

</section>

<section>
    <div>
        <div class="container-fluid" style="background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);">
          <div class="container p-5">
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                  <div class="card-body">
                    <div class="text-center p-3">
                      <h5 class="card-title"><b>Cheap RESELLER</b></h5>
                      <small>PRICE ৳ 760 BDT ( M )</small><br>
                      <small>Free Migration</small>
                      <br><br>
                      <span class="h2">$8</span>/month
                      <br><br>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  15 GB Pure SSD Storage</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> Raid-10 100% Pure SSD Storage
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10 cPanel
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10X USA Premium Bandwidth
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  SSL Reseller Account
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> 360 Immunify (Antivirus)


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Hack & Malware Protection


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>DDoS Protection

                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  One-click WordPress installs
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   Free WordPress/cPanel website transfer
                    </li>
                  </ul>
                  <div class="card-body text-center">
                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px"><a target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=98">Order Now</a></button>
                  </div>
                </div> 
              </div>
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                  <div class="card-body">
                    <div class="text-center p-3">
                      <h5 class="card-title"><b>Business RESELLER</b></h5>
                      <small>PRICE ৳ 1350 BDT </small><br>
                      <small>Free Migration</small>
                      <br><br>
                      <span class="h2">$15</span>/month
                      <br><br>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   100 GB Pure SSD Storage</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> Raid-10 100% Pure SSD Storage
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  36 cPanel
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10X USA Premium Bandwidth
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  SSL Reseller Account
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> 360 Immunify (Antivirus)


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Hack & Malware Protection


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>DDoS Protection

                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  One-click WordPress installs
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   Free WordPress/cPanel website transfer
                    </li>
                  </ul>
                  <div class="card-body text-center">
                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px"><a target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=98">Order Now</a></button>
                  </div>
                </div> 
              </div>
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                  <div class="card-body">
                    <div class="text-center p-3">
                      <h5 class="card-title"><b>VIP RESELLER</b></h5>
                      <small>PRICE ৳ 3100 BDT</small><br>
                      <small>Free Migration</small>
                      <br><br>
                      <span class="h2">$8</span>/month
                      <br><br>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  300 GB Pure SSD Storage</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> Raid-10 100% Pure SSD Storage
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  100 cPanel
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10X USA Premium Bandwidth
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  SSL Reseller Account
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> 360 Immunify (Antivirus)


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Hack & Malware Protection


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>DDoS Protection

                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  One-click WordPress installs
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   Free WordPress/cPanel website transfer
                    </li>
                  </ul>
                  <div class="card-body text-center">
                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px"><a target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=98">Order Now</a></button>
                  </div>
                </div> 
              </div>
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                  <div class="card-body">
                    <div class="text-center p-3">
                      <h5 class="card-title"><b>Corporate RESELLER</b></h5>
                      <small>PRICE ৳ 7500 BDT</small><br>
                      <small>Free Migration</small>
                      <br><br>
                      <span class="h2">$82</span>/month
                      <br><br>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  450 GB Pure SSD Storage</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> Raid-10 100% Pure SSD Storage
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  200 cPanel
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10X USA Premium Bandwidth
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  SSL Reseller Account
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> 360 Immunify (Antivirus)


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Hack & Malware Protection


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>DDoS Protection

                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  One-click WordPress installs
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   Free WordPress/cPanel website transfer
                    </li>
                  </ul>
                  <div class="card-body text-center">
                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px"><a target="_blank" href="https://billing.mdlhost.net/cart.php?a=add&pid=98">Order Now</a></button>
                  </div>
                </div> 
              </div>

              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card h-100 shadow-lg">
                  <div class="card-body">
                    <div class="text-center p-3">
                      <h5 class="card-title"><b>Customize plan</b></h5>
                      <small>PRICE ABOVE ৳ 7500 BDT</small><br>
                      <small>Free Migration</small>
                      <br><br>
                      <span class="h2">$--</span>/month
                      <br><br>
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Customize __GB Pure SSD Storage</li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> Raid-10 100% Pure SSD Storage
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  
                      __ cPanel
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  10X USA Premium Bandwidth
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  SSL Reseller Account
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg> 360 Immunify (Antivirus)


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  Hack & Malware Protection


                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>DDoS Protection

                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>  One-click WordPress installs
                    </li>
                    <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path
                          d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                      </svg>   Free WordPress/cPanel website transfer
                    </li>
                  </ul>
                  <div class="card-body text-center">
                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Call Now</button>
                  </div>
                </div> 
              </div>

            </div>
          </div>
        </div>
    </div>
</section>

<section class="container">
    <h1 class="text-center p-4">USA reseller hosting in BD</h1>
    <div class="d-flex re-seller-div">
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/1.png" alt="">
        </div>
        <div>
            <h4>
                60% Faster Hosting with 3D SSD’s
            </h4>
            <p>200% Faster than Other SSD’s. 900% Faster Than Spin Drives, sure SSD’s are fast but but V-NAND 3D SSD’s takes things to a Whole new LEVEL! We are best Hosting Provider In BD . Our Corporate VIP Servers use V-NAND 3D SSD chips which are faster than any other SSD drive servers. We are one of the first in the industry to use 3d V-NAND 3D Drives.</p>
        </div>
    </div>
    <div class="d-flex re-seller-div rev-divv">
        
        <div class="text-end">
            <h4>
                FREE Domain Reseller Account
            </h4>
            <p>200% Faster than Other SSD’s. 900% Faster Than Spin Drives, sure SSD’s are fast but but V-NAND 3D SSD’s takes things to a Whole new LEVEL! We are best Hosting Provider In BD . Our Corporate VIP Servers use V-NAND 3D SSD chips which are faster than any other SSD drive servers. We are one of the first in the industry to use 3d V-NAND 3D Drives.</p>
        </div>

        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/ft3.png" alt="">
        </div>
    </div>
    <div class="d-flex re-seller-div">
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/feature-1.png" alt="">
        </div>
        <div>
            <h4>
                Reseller Hosting with Free WHMCS License
            </h4>
            <p>Our reseller hosting with WHMCS is an all-in-one webhosting client management, billing & support solution for for web hosts. It can Fully Automate Your Hosting Business by automating everything from signup to termination, WHMCS is a powerful hosting automation tool that puts you firmly in control. WHMCS reseller hosting allows easy management of your clients, automatic billing, automatic account creation, and much more. Mass Data offers FREE WHMCS LICENSE with every reseller plan. Sign Up for any of our reseller web hosting plans and Get WHMCS Billing Software absolutely FREE!.</p>
        </div>
    </div>
    <div class="d-flex re-seller-div">
        
        <div class="text-end">
            <h4>
                Spam FREE Cloud based Email
            </h4>
            <p>How about 100% SPAM FREE CLOUD BASED EMAIL? Through the Mailchannel’s Cloud Corporate Mail server will see you get rid of IP blacklisting and subsequently, prevent spamming and other compromises to client email accounts. At the core of this email service provision is the use of artificial intelligence to determine the message sender and track the behavior of the sender for effective detection and limiting of spamming activities. Also, through its Response Analytics TM technology, the system understands and interprets receivers’ rejection messages, thus identifying and isolating compromised accounts and improving deliverability of emails</p>
        </div>
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/ff.png" alt="">
        </div>
    </div>
    <div class="d-flex re-seller-div">
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/res8.png" alt="">
        </div>
        <div>
            <h4>
                Responsive Drag & Drop Website Builder
            </h4>
            <p>Differentiate your hosting service from the rest by Providing our easy to use responsive website builder to your customers. SkyNetHosting.Net offers unlimited Site Builder software, making your clients happier with higher profits and it comes absolutely FREE! We offer site.pro RvSite Builder.</p>
        </div>
    </div>
    <div class="d-flex re-seller-div">
        
        <div class="text-end">
            <h4>
                Attracta SEO Tools
            </h4>
            <p>We offer the Powerful Attracta Toolset free with our reseller plans. It comes with many SEO features such as Content optimization, Link Blast, Tiered Link Building, Guest Posting, Article Posting, Press Release, Article Distributing and more. Attracta is a award-winning SEO Tool that have helped thousands of small businesses improve their search engine ranking and drive more traffic to their sites.</p>
        </div>
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/res2.png" alt="">
        </div>
    </div>
    <div class="d-flex re-seller-div">
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/res3.png" alt="">
        </div>
        <div>
            <h4>
                End-User Support + LIVE Sale Chat
            </h4>
            <p>Differentiate your hosting service from the rest by Providing our easy to use responsive website builder to your customers. SkyNetHosting.Net offers unlimited Site Builder software, making your clients happier with higher profits and it comes absolutely FREE! We offer site.pro RvSite Builder.</p>
        </div>
    </div>
   
    <div class="d-flex re-seller-div">
        
        <div class="text-end">
            <h4>
                Your Own Dedicated IP
            </h4>
            <p>You are getting your very own dedicated IP free with all corporate VIP reseller plans. Having a dedicated IP is good search engine optimization and well as stay abuse free unlike on shared IP’s. You can also have your own SSL certificate installed by us on the free IP that we provide.</p>
        </div>
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/res4.png" alt="">
        </div>
    </div>
    <div class="d-flex re-seller-div">
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/res9.png" alt="">
        </div>
        <div>
            <h4>
                Powerful LiteSpeed Webserver
            </h4>
            <p>Our Corporate cPanel Reseller Hosting Plans comes with LiteSpeed web server that offers up to 300% faster website Loading Speeds than with Apache. LiteSpeed makes servers to run stable even with traffic spikes or DDoS attacks. LiteSpeed is the Fastest Commercial Web Server in the world and we offer it free with all our Corporate Reseller Plans.</p>
        </div>
    </div>
   
    <div class="d-flex re-seller-div">
        
        <div class="text-end">
            <h4>
                Automated, Self Service Jet Backups
            </h4>
            <p>JetBackup's self service functionality allows resellers to restore your client account within seconds or you can even have them restore files them self from cPanel. When your clients have speed and ease-of-use it is a win-win for both you and your clients. Give your customers the self-service backup and restore functionality they deserve!</p>
        </div>
        <div>
            <img src="https://massdataltd.com/wp-content/uploads/2021/08/1.png" alt="">
        </div>
    </div>
</section>