<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <h1>  About Us</h1>
          <p>We know the secret of your success</p>
        </div>
        <ul class="page-breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>About</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
  page-title -->


<section class="container">
  <h2 class="text-center p-5">
    About Mass Data

  </h2>

  <div class="main-div">
    <div class="accor-div">
      <div class="pb-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Company
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We are a custom software company in Bangladesh. We started as a start-up software outsourcing company
                  in 2016. We became a Bangladeshi company in 2017 and have been growing every year.</p>
                <p>We find technical solutions for our clients. Typically this would mean we are building software
                  products for them, but sometime we would be doing something completely different like researching
                  business data or setting up their firewall.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Who We Are
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Mass Data was founded on June, 2016 to provides Web Development, Marketing , Sofware Solution ,
                  Domain and Web Hosting Solution. We will deliver high-quality products and support our customers
                  beyond their expectations. This will improve their profitability, their businesses, and our
                  relationships with them.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                What We Do
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We tailor incredible IT solutions for companies regardless the size of them. At Mass Data, our
                  proficient team is promised to deliver cutting-edge innovations that meet the exact demands of our
                  client and that too in a less turnaround time. With core adroitness and high level expertise, we
                  integrate ourselves to notch complex solutions to the clients spread across the continents. Our
                  commitment towards each client is unparalleled.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Our Mission
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>Our mission is simple. To provide trouble-free, customer-focused, reliable, and affordable solution.
                  We simply want to continue to operate a profitable company that makes customers happy. A successful
                  business needs to be committed to client solutions, innovation, creativity and a warm, caring attitude
                  to all of our customers’ business needs. We don’t just provide 24×7 support. we really do listen and
                  care.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                Why Choose Us?
              </button>
            </h2>
            <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li><b>We’re dependable</b>
                    <br> Our vast experience, wide knowledge and flawless execution process ensure you the best solution
                    for your requirements at affordable price.
                  </li>
                  <li><b>Integrity</b>
                    <br> Our corporate values of fairness, transparency and honesty cement the relationships and
                    transform them into personal relationships.
                  </li>
                  <li><b>Our Service is fast</b>
                    <br> We are available 24/7 on multiple communication channels to provide you with an instantaneous,
                    fast and high-quality support.
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                People
              </button>
            </h2>
            <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>We don’t hire developers, designers or QA engineers, we hire people who solve problems. And we hire
                  only the best. We run regular training and review sessions to keep us on the top. And our culture of
                  constructive criticism, learning and sharing expands our horizons and keeps us level headed.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                Culture of fun and passion
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>There is no doubt that there is something wrong with us – but in a good way (we think)!</p>
                <p>We are always obsessed with something. The object of obsession changes over time, sometimes is just a
                  new programming trick that someone has found, or sometimes its a game that we are playing. People
                  outside of Kaz point these out as signs of our insanity. But we are proud of them.</p>
                <p>Here is a random sampling. But if you really want to know what we are up to (or what we’ve done, but
                  management won’t allow that to be published on the website) visit our FB page!</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="svg-div">
      <svg id="wrap" width="300" height="300">

        <!-- background -->
        <svg>
          <circle cx="150" cy="150" r="130" style="stroke: lightblue; stroke-width:18; fill:transparent" />
          <circle cx="150" cy="150" r="115" style="fill:#2c3e50" />
          <path style="stroke: #2c3e50; stroke-dasharray:820; stroke-dashoffset:820; stroke-width:18; fill:transparent"
            d="M150,150 m0,-130 a 130,130 0 0,1 0,260 a 130,130 0 0,1 0,-260">
            <animate attributeName="stroke-dashoffset" dur="6s" to="-820" repeatCount="indefinite" />
          </path>
        </svg>

        <!-- image -->
        <svg>
          <path id="hourglass" d="M150,150 C60,85 240,85 150,150 C60,215 240,215 150,150 Z"
            style="stroke: white; stroke-width:5; fill:white;" />

          <path id="frame"
            d="M100,97 L200, 97 M100,203 L200,203 M110,97 L110,142 M110,158 L110,200 M190,97 L190,142 M190,158 L190,200 M110,150 L110,150 M190,150 L190,150"
            style="stroke:lightblue; stroke-width:6; stroke-linecap:round" />

          <animateTransform xlink:href="#frame" attributeName="transform" type="rotate" begin="0s" dur="3s"
            values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
          <animateTransform xlink:href="#hourglass" attributeName="transform" type="rotate" begin="0s" dur="3s"
            values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
        </svg>

        <!-- sand -->
        <svg>
          <!-- upper part -->
          <polygon id="upper" points="120,125 180,125 150,147" style="fill:#2c3e50;">
            <animate attributeName="points" dur="3s" keyTimes="0; 0.8; 1"
              values="120,125 180,125 150,147; 150,150 150,150 150,150; 150,150 150,150 150,150"
              repeatCount="indefinite" />
          </polygon>

          <!-- falling sand -->
          <path id="line" stroke-linecap="round" stroke-dasharray="1,4" stroke-dashoffset="200.00" stroke="#2c3e50"
            stroke-width="2" d="M150,150 L150,198">
            <!-- running sand -->
            <animate attributeName="stroke-dashoffset" dur="3s" to="1.00" repeatCount="indefinite" />
            <!-- emptied upper -->
            <animate attributeName="d" dur="3s" to="M150,195 L150,195"
              values="M150,150 L150,198; M150,150 L150,198; M150,198 L150,198; M150,195 L150,195"
              keyTimes="0; 0.65; 0.9; 1" repeatCount="indefinite" />
            <!-- last drop -->
            <animate attributeName="stroke" dur="3s" keyTimes="0; 0.65; 0.8; 1"
              values="#2c3e50;#2c3e50;transparent;transparent" to="transparent" repeatCount="indefinite" />
          </path>

          <!-- lower part -->
          <g id="lower">
            <path d="M150,180 L180,190 A28,10 0 1,1 120,190 L150,180 Z"
              style="stroke: transparent; stroke-width:5; fill:#2c3e50;">
              <animateTransform attributeName="transform" type="translate" keyTimes="0; 0.65; 1" values="0 15; 0 0; 0 0"
                dur="3s" repeatCount="indefinite" />
            </path>
            <animateTransform xlink:href="#lower" attributeName="transform" type="rotate" begin="0s" dur="3s"
              values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
          </g>

          <!-- lower overlay - hourglass -->
          <path d="M150,150 C60,85 240,85 150,150 C60,215 240,215 150,150 Z"
            style="stroke: white; stroke-width:5; fill:transparent;">
            <animateTransform attributeName="transform" type="rotate" begin="0s" dur="3s"
              values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
          </path>

          <!-- lower overlay - frame -->
          <path id="frame" d="M100,97 L200, 97 M100,203 L200,203"
            style="stroke:lightblue; stroke-width:6; stroke-linecap:round">
            <animateTransform attributeName="transform" type="rotate" begin="0s" dur="3s"
              values="0 150 150; 0 150 150; 180 150 150" keyTimes="0; 0.8; 1" repeatCount="indefinite" />
          </path>
        </svg>

      </svg>
    </div>
  </div>

</section>
<!--  -->