<!--=================================features================================= -->

<section class="page-section-ptb theme-bg">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30">
                <div class="feature-text text-center">
                    <div class="feature-icon">
                        <span aria-hidden="true" class="ti-world text-white"></span>
                    </div>
                    <h4 class="text-white pt-20">Web Hosting</h4>
                    <p class="text-white">Your website hosting provider has a huge impact on your page load speed and
                        ultimately your bottom line.we've got you covered with a high-performance solution! </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 xs-mb-30">
                <div class="feature-text text-center">
                    <div class="feature-icon">
                        <span aria-hidden="true" class="ti-money text-white"></span>
                    </div>
                    <h4 class="text-white pt-20">Hosting Reseller</h4>
                    <p class="text-white">Powerful​ ​Reseller​ ​Hosting Unlimited Feature​ ​Packed​ ​Reseller​ ​with​
                        ​cPanel​ ​WHM​ ​&​ ​​​WHMCS. 900% Faster Hosting with 3D SSD’s </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="feature-text text-center">
                    <div class="feature-icon">
                        <span aria-hidden="true" class="ti-heart text-white"></span>
                    </div>
                    <h4 class="text-white pt-20">Domain</h4>
                    <p class="text-white">With the free Plugin that we offer to Configure your Domains Reseller with
                        WHMCS Billing Software you can Instantly Start Selling Domains to your customers at an
                        affordable price.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================features================================= -->