<!--=================================
Our Clients  -->

<section class="our-clients theme-bg text-white page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h6 class="lacks-heading d-none">Lacks Heading</h6> <!-- lacks heading for w3c -->
                <div class="owl-carousel" data-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="2">
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/06.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/07.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/08.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/09.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/10.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/06.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/08.png" alt="">
                    </div>
                    <div class="item">
                        <img class="mx-auto img-fluid" src="assets/images/clients/light/09.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
Our Clients -->