<!--=================================feature-step================================= -->

<section>
    <div class="container-fluid p-0">
        <div class="row no-gutter">
            <div class="col-lg-4 feature-step-2 bg-01 bg-overlay-black-50">
                <div class="clearfix">
                    <div class="feature-step-2-box">
                        <div class="feature-step-2-title-left">
                            <h1>01</h1>
                        </div>
                        <div class="feature-step-2-title-2-right">
                            <h3 class="text-white">Front-End Development</h3>
                            <h2 class="text-white">Modern website designers</h2>
                            <p class="text-white mt-20">I have exercitation ullamco laboris nisi ut aliquip exea.
                                commodo
                                consequat. Duis aute irure dolor in.</p>
                            <a class="button icon-color white" href="#"> Read More<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 feature-step-2 bg-02 bg-overlay-black-50">
                <div class="clearfix">
                    <div class="feature-step-2-box">
                        <div class="feature-step-2-title-left">
                            <h1>02</h1>
                        </div>
                        <div class="feature-step-2-title-2-right">
                            <h3 class="text-white">UI/UX Design</h3>
                            <h2 class="text-white">Modern website designers</h2>
                            <p class="text-white mt-20">At Modern website designers quis nostrud exercitation ullamco
                                laboris nisi
                                ut aliquip exea. commodo consequat.</p>
                            <a class="button icon-color white" href="#"> Read More<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 feature-step-2 bg-03 bg-overlay-black-50">
                <div class="clearfix">
                    <div class="feature-step-2-box">
                        <div class="feature-step-2-title-left">
                            <h1>03</h1>
                        </div>
                        <div class="feature-step-2-title-2-right">
                            <h3 class="text-white">Website production</h3>
                            <h2 class="text-white">Modern website designers</h2>
                            <p class="text-white mt-20"> Working with Duis aute irure dolor in reprehenderit in
                                voluptate velit
                                esse cillum dolore eu fugiat nulla</p>
                            <a class="button icon-color white" href="#"> Read More<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================feature-step================================= -->