.banner-text{
    font-size: 59px;
    color:#202714 ;
}
h2{
    font-size: 2.6666666666667rem;
    font-family: 'Oxygen',sans-serif;
    font-weight: 700;
}
.target-link{
    text-decoration: none;
    color: #bcba63;
}