<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 jarallax" data-speed="0.6" data-img-src="assets/images/bg/02.jpg" style="background-image:  url('assets/images/bg/02.jpg');background-repeat: no-repeat;
    background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <h1>Privacy Policy</h1>
          <p>We know the secret of your success</p>
        </div>
        <ul class="page-breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
          <li><span>Privacy Policy</span> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
  page-title -->

<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="text-div">
        <div>
          <h2>Privacy Policy​</h2>
          <p>Mass Data recognizes that privacy is of great importance to individuals everywhere – our customers, website
            visitors, product users… everyone. This is why the responsible use and protection of personal and other
            information under our care is a core value of Mass Data. To learn more about our privacy practices, please
            review the policy below. If you have any further questions or concerns, please feel free to reach us at
            privacy@innovaretech.com.

          </p>
          <p>The privacy statement was last updated on 02/10/2021.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img
        src="https://img.freepik.com/free-vector/business-people-studying-list-rules-reading-guidance-making-checklist_74855-10492.jpg?w=1380&t=st=1659243471~exp=1659244071~hmac=57c55a14374e1e32465d7798dbea93d5376e73c9112d5f5ee1a2afffafe4a14d"
        alt="">
    </div>

  </div>


  <div>
    <h2 class="text-center">
      Privacy Policy
    </h2>

    <div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              1. Introduction
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">1.1 Mass Data is committed to safeguarding the privacy of www.innovaretech.com
              visitors. In this policy Mass Data explain how Innovare Technologies, Inc. will treat your personal
              information. <br>
              1.2 Mass Data will ask you to consent to our use of cookies in accordance with the terms of this policy
              when you first visit Mass Data By using www.massdataltd.com and agreeing to this policy, you consent to
              our use of cookies in accordance with the terms of this policy.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              2. Collecting personal information
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>2.1 Mass Data may collect, store and use the following kinds of personal information:</p>
              <p>(a) information about your computer and about your visits to and use of this website (including your IP
                address, geographical location, browser type and version, operating system, referral source, length of
                visit, page views and website navigation paths)</p>
              <p>(b) information that you provide to us when using the services on www.massdataltd.com, or that is
                generated in the course of the use of those services (including the timing, frequency and pattern of
                service use.</p>
              <p>(c) information contained in or relating to any communications that you send to us or send through <br>
                www.massdataltd.com (including the communication content and meta data associated with the
                communication)</p>
              <p>(d) any other personal information that you choose to send to us
              </p>
              <p>2.2 Before you disclose to us the personal information of another person, you must obtain that person’s
                consent to both the disclosure and the processing of that personal information in accordance with this
                policy.</p>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              3. Using your personal information
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>3.1 Personal information submitted to us through www.massdataltd.com will be used for the purposes
                specified in this policy or on the relevant pages of the website.</p>
              <p>3.2 Innovare Technologies, Inc. may use your personal information to:</p>
              <p>(a) administer www.massdataltd.com and business</p>
              <p>(b) personalise www.massdataltd.com for you</p>
              <p>(c) enable your use of the services available on www.massdataltd.com</p>
              <p>(g) send you non-marketing commercial communications</p>
              <p>(h) send you marketing communications relating to our business or the businesses of carefully-selected
                third parties which Innovare Technologies, Inc. think may be of interest to you, by post or, where you
                have specifically agreed to this, by email or similar technology (you can inform us at any time if you
                no longer require marketing communications)</p>
              <p>(i) provide third parties with statistical information about our users (but those third parties will
                not be able to identify any individual user from that information)</p>
              <p>(j) deal with enquiries and complaints made by or about you relating to www.innovaretech.com</p>
              <p>(k) keep www.innovaretech.com secure and prevent fraud</p>
              <p>(l) verify compliance with the terms and conditions governing the use of www.innovaretech.com
                (including monitoring private messages sent through www.innovaretech.com private messaging service)</p>
              <p>3.3 If you submit personal information for publication on www.massdataltd.com, Innovare Technologies.
                will publish and otherwise use that information in accordance with the license you grant to us.</p>
              <p>3.4 Mass Data will not, without your express consent, supply your personal information to any third
                party for the purpose of their or any other third party’s direct marketing.</p>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                4. Disclosing personal information
              </button>
            </h2>
            <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <p>4.1 Mass Data may disclose your personal information to any of our employees, officers, insurers,
                  professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the
                  purposes set out in this policy. <br>
                  4.2 Mass Data may disclose your personal information to any member of our group of companies (this
                  means our subsidiaries, our ultimate holding company and all its subsidiaries) insofar as reasonably
                  necessary for the purposes set out in this policy.</p>
                <p>
                  4.3 Innovare Technologies, Inc. may disclose your personal information:
                </p>
                <p>(a) to the extent that Innovare Technologies, Inc. is required to do so by law</p>
                <p>(b) in connection with any on-going or prospective legal proceedings</p>
                <p>(c) in order to establish, exercise or defend our legal rights (including providing information to
                  others for the purposes of fraud prevention and reducing credit risk)</p>
                <p>(d) to the purchaser (or prospective purchaser) of any business or asset that Innovare Technologies,
                  Inc. are (or are contemplating) selling and</p>
                <p>(e) to any person who Innovare Technologies, Inc. reasonably believes may apply to a court or other
                  competent authority for disclosure of that personal information where, in our reasonable opinion, such
                  court or authority would be reasonably likely to order disclosure of that personal information.</p>
                <p></p>
                <p>4.4 Except as provided in this policy, Innovare Technologies, Inc. will not provide your personal
                  information to third parties.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-five" aria-expanded="false" aria-controls="flush-five">
              5. International data transfers
            </button>
          </h2>
          <div id="flush-five" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>5.1 Information that Mass Data collect may be stored and processed in and transferred between any of
                the countries in which Mass Data. operate in order to enable us to use the information in accordance
                with this policy.</p>
              <p>5.2 Personal information that you publish on www.massdataltd.com or submit for publication on
                www.massdataltd.com may be available, via the internet, around the world. Mass Data cannot prevent the
                use or misuse of such information by others.</p>
              <p>5.3 You expressly agree to the transfers of personal information described in this Section 5.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-six" aria-expanded="false" aria-controls="flush-six">
              6. Retaining personal information
            </button>
          </h2>
          <div id="flush-six" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>6.1 This Section 6 sets out our data retention policies and procedure, which are designed to help
                ensure that Mass Data. comply with our legal obligations in relation to the retention and deletion of
                personal information.</p>
              <p>6.2 Personal information that Mass Data. process for any purpose or purposes shall not be kept for
                longer than is necessary for that purpose or those purposes.</p>
              <p>6.3 Without prejudice to Section 6.2, Mass Data. will usually delete personal data falling within the
                categories set out below at the date/time set out below:</p>
              <p>(a) personal data will be deleted after 6 months</p>
              <p>6.4 Notwithstanding the other provisions of this Section 6, Mass Data. will retain documents (including
                electronic documents) containing personal data:</p>
              <p>(a) to the extent that Mass Data. is required to do so by law</p>
              <p>(b) if Innovare Mass Data. believe that the documents may be relevant to any on-going or prospective
                legal proceedings and</p>
              <p>(c) in order to establish, exercise or defend our legal rights (including providing information to
                others for the purposes of fraud prevention and reducing credit risk).</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-seven" aria-expanded="false" aria-controls="flush-seven">
              7. Security of your personal information
            </button>
          </h2>
          <div id="flush-seven" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>7.1 Mass Data will take reasonable technical and organizational precautions to prevent the loss, misuse
                or alteration of your personal information.</p>
              <p>7.2 Mass Data. will store all the personal information you provide on our secure (password- and
                firewall-protected) servers.</p>
              <p>7.3 You acknowledge that the transmission of information over the internet is inherently insecure, and
                Mass Data. cannot guarantee the security of data sent over the internet.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-eight" aria-expanded="false" aria-controls="flush-eight">
              8. Amendments
            </button>
          </h2>
          <div id="flush-eight" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>8.1 Mass Data may update this policy from time to time by publishing a new version on
                www.massdataltd.com.</p>
              <p>8.2 You should check this page occasionally to ensure you are happy with any changes to this policy.
              </p>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-nine" aria-expanded="false" aria-controls="flush-nine">
              9. Your rights
            </button>
          </h2>
          <div id="flush-nine" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>9.1 Mass Data. may withhold personal information that you request to the extent permitted by law.</p>
              <p>9.2 You may instruct us at any time not to process your personal information for marketing purposes.
              </p>
              <p>9.3 In practice, you will usually either expressly agree in advance to our use of your personal
                information for marketing purposes, or Innovare Technologies, Inc. will provide you with an opportunity
                to opt out of the use of your personal information for marketing purposes.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-ten" aria-expanded="false" aria-controls="flush-ten">
              10. Third party websites
            </button>
          </h2>
          <div id="flush-ten" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>10.1 www.massdataltd.com includes hyperlinks to, and details of, third party websites.</p>
              <p>10.2 Mass Data has no control over, and is not responsible for, the privacy policies and practices of
                third parties.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-eleven" aria-expanded="false" aria-controls="flush-eleven">
              11. Updating information
            </button>
          </h2>
          <div id="flush-eleven" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>11.1 Please let us know if the personal information that Mass Data hold about you needs to be corrected
                or updated.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>