<!--=================================
Price table -->

<section class="page-section-pb white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h6 class="subtitle">Bulk SMS Service and <span class="theme-color">Solution Provider In BD</span>
                    </h6>
                    <h2 class="title">Bulk SMS Price vs Performance</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="pricing-table dark-theme-bg text-center">
                    <div class="pricing-top border-0">
                        <div class="pricing-title">
                            <h3 class="mb-15 text-white">INTL'<br> SMS​</h3>
                            <p class="text-white">All Telecom Carrier</p>
                        </div>
                        <hr class="light mt-30">
                        <div class="pricing-prize mb-0">
                            <!--<h2 class="text-white">$99 /<span> month</span> </h2>-->
                        </div>
                    </div>
                    <div class="pricing-content mt-0 pb-30">
                        <p class="text-white">All Telecom Carrier
                            Over 141 Countries
                            Everywhere, Your Brand
                            Starting as low as
                            Depend On Slab</p>
                        <div class="pricing-button mt-30">
                            <a class="button button-border white" href="#">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="pricing-table dark-theme-bg text-center">
                    <div class="pricing-top border-0">
                        <div class="pricing-title">
                            <h3 class="mb-15 text-white">BD<br> MASKING</h3>
                            <p class="text-white">All Telecom Carrier</p>
                        </div>
                        <hr class="light mt-30">
                        <div class="pricing-prize mb-0">
                            <!--<h2 class="text-white">$99 /<span> month</span> </h2>-->
                        </div>
                    </div>
                    <div class="pricing-content mt-0 pb-30">
                        <p class="text-white">Your Brand, Your Words
                            Starting as low as
                            0.50 - 0.40 BDT/Per SMS
                            Depend On Slab</p>
                        <div class="pricing-button mt-30">
                            <a class="button button-border white" href="#">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="pricing-table dark-theme-bg text-center">
                    <div class="pricing-top border-0">
                        <div class="pricing-title">
                            <h3 class="mb-15 text-white">BD NON-MASKING</h3>
                            <p class="text-white">All Telecom Carrier</p>
                        </div>
                        <hr class="light mt-30">
                        <div class="pricing-prize mb-0">
                            <!--<h2 class="text-white">$99 /<span> month</span> </h2>-->
                        </div>
                    </div>
                    <div class="pricing-content mt-0 pb-30">
                        <p class="text-white">Never Miss Any Interaction
                            Starting as low as
                            0.25 - 0.15 BDT/Per SMS
                            Depend On Slab</p>
                        <div class="pricing-button mt-30">
                            <a class="button button-border white" href="#">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="pricing-table dark-theme-bg text-center">
                    <div class="pricing-top border-0">
                        <div class="pricing-title">
                            <h3 class="mb-15 text-white">PROMOTIONAL SMS</h3>
                            <p class="text-white">All Telecom Carrier</p>
                        </div>
                        <hr class="light mt-30">
                        <div class="pricing-prize mb-0">
                            <!--<h2 class="text-white">$99 /<span> month</span> </h2>-->
                        </div>
                    </div>
                    <div class="pricing-content mt-0 pb-30">
                        <p class="text-white">Reach Every Hands
                            Starting as low as
                            0.20 - 0.10 BDT/Per SMS
                            Depend On Slab</p>
                        <div class="pricing-button mt-30">
                            <a class="button button-border white" href="#">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
  Price table -->

<!--=================================
  action box -->
<section class="mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="action-box action-box-border center">
                    <div class="action-box-text">
                        <h3><strong> SEARCH </strong> YOUR PERFECT DOMAIN NAME HERE​</h3>
                        <p>Mass Data guarantees that you will be the registered owner (Registrant) of the Domain you
                            register with Mass Data . You will be provided with the full control panel to access and
                            manage your Domain.</p>
                    </div>
                    <div class="action-box-button">
                        <a class="button" href="#">
                            <span>Search your domain</span>
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                    <div class="action-box-text mt-3">
                        <p>Instant Activation, Complete DNS Control, No Hidden Cost,
                            .com $9.69, .net $11.83, .org $11.83, .xyz $12.67</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
  action box -->