
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
   
}
.img-divv{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.text-height{
    line-height: 2;
}

.link-class{
    text-decoration: none;
    color: #bcba63;
}